<div class="col-10 offset-1">
  <div class="booyah-box row profile-info">
    <div class="col-md-4 col-12 text-center icon-container">
      <%= image_tag 'user.png', class: 'img_fluid user-icon' %>
      <h3><b><%= @user.email %></b></h3>
      <div class="header-border-bottom"> </div>
    </div>
    <div class="col-md-8 col-12 text-center">
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <div class="header-border-bottom"> </div>
      <div class="d-flex justify-content-around">
        <ul class="text-left">
          <li>
            <h4>Places added: <span class="float-right"><%= @user.places.count %></span></h4>
          </li>
          <li>
            <h4>Comments: <span class="float-right"><%= @user.comments.count %></span></h4>
          </li>
          <li>
            <h4>5-star reviews: <span class="float-right pl-3"><%= @user.comments.where(rating: '5_stars').count %></span></h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span class="clearfix"></span>

  <div class="booyah-box row">
    <div class="col-12">
      <h1 class="text-center">My Places</h1>
      <hr>
    </div>
    <% @user.places.each do |place| %>
      <div class="booyah-box col-10 offset-1">
        <h1><%= link_to place.name, place_path(place) %></h1><br />
        <i><%= place.address %></i><br />
        <p><%= place.description %></p><br />

        <% if place.user.present? %>
          <small><%= place.user.email %></small>
        <% end %>

        <% if place.comments.present? %>
          <div class="col-12">
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small><%= place.comments.last.user.email %></small>
            </blockquote>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <span class="clearfix"></span>

  <div class="booyah-box row">
    <div class="col-12">
      <h1 class="text-center">My Comments</h1>
      <hr>
    </div>      
    <% @user.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <h4 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h4>
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b> - 
          <% end %>
          <%= comment.message %>
          <footer class="blockquote-footer text-right"><%= comment.user.email %></footer>
        </blockquote>
      </div>
    <% end %>
  </div>
  <span class="clearfix"></span>
</div>
