<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <br>
  <div class="details-container">
    <i class="place-details"><%= @place.address %></i>
    <br>
    <p class="place-details"><%= @place.description %></p>

    <% if @place.latitude.present? && @place.longitude.present? %>
      <script>
        function initMap() {
          var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GIDFoyNMwxaoOOugCP-lQIg7M_b6x_c&callback=initMap">
      </script>

      <div class="place-details" id="map"></div>
    <% end %>
    
    <br>
    <div class="float-right ">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PhotoModal">
        Add a Photo
      </button>
      <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
        <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete #{@place.name}?"}, class: 'btn btn-danger' %>
      <% end %>
    </div>
    <span class="clearfix"></span>
    <hr>

    <br>
    <% @place.photos.each do |photo| %>
      <% if photo.picture.present? %>
        <%= image_tag photo.picture, class: "mx-auto d-block rounded place-photo" %>
        <br>
        <h4 class="text-center"><%= "\"#{photo.caption}\"" %></h4>
        <small class="float-right">~ <%= photo.user.email %></small>
        <span class="clearfix"></span>
        <hr>
      <% end %>
    <% end %>

    <h1 class="float-left">Comments</h1>

    <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#CommentModal">
    Add a comment
    </button>
    <span class="clearfix"></span>
    <br>

    <div class="row">
      <% @place.comments.each do |comment| %>
        <div class="col-12 col-sm-6">
          <blockquote>
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> - 
            <% end %>
            <%= comment.message %>
            <small><%= comment.user.email %></small>
          </blockquote>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Photo Modal -->
  <div class="modal fade" id="PhotoModal" tabindex="-1" role="dialog" aria-labelledby="PhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="PhotoModalLabel">Add a Photo</h4>
        </div>
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :caption %>
            <%= f.input :picture, label: 'Upload a photo!' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Comment Modal -->
  <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="CommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="CommentModalLabel">Add a comment</h4>
        </div>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>